#page-room {
  &.dark {
    background-color: #222222;
    height: 100%;
    min-height: 100vh;

    header {
      border-bottom: 1px solid #333333;
    }

    main .room-title h1 {
      color: #f8f8f8;
    }

    main form textarea {
      background: #333333;
      color: #f8f8f8;
    }

    main .form-footer .user-info span {
      color: #737380;
    }

    header .content .button { // botão de encerrar
      background: #0074BF;

      &.outlined {
        background: #0074BF;
        color: #fff;
      }
    }
    .room-code {
      background: #0093f5;
      
      & span {
        color: #f8f8f8;
      }
    }
  }

  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width:1128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;
        align-items: center;
        
        button {
          height: 40px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #0074bf;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #f8f8f8;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0,0,0, 0.04);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;
  
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
  
          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;
          
          button {
            background: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    #question-list {
      margin-top: 32px;

      &.dark {
        .question {
          background: #444444;

          &.highlighted {
            background: #444444; 
            border: 2px solid #0074bf; // favorita
          }
  
          &.answered {
            background: #333333; // respondida 
          }

          p {
            color: #F8F8F8;
          }

          & footer .user-info span{
            color: #f0f0f0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  #page-room {
    & header {
      flex-direction: column;
      align-items: center;
      
      .content > div {
        gap: 9px;
      }
    }
    .content {
      flex-direction: column;

      
      > img {
        margin-bottom: 20px
      }
    }

    main .room-title {
      justify-content: center;
    }
    main form {
      max-width:100% -20px;
      min-width: 240px;
      margin: 0 auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}