.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background: #f8f8f8;
  border: 1px solid #0074BF;
  cursor: pointer;
  display: flex;

  div {
    background: #0074BF;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid #fff;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    color: #0074BF;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 540px) {
  .room-code {

    div { // é
      padding: 0 10px;
    }

    span {
      width: 100%;
      font-size: 12px;
      padding: 5px 12px 5px 10px;
    }

  }
}